table{

            background-color: white;
            margin: 0 auto;
            box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
            border: 1px solid;
        }

        a:hover {
            color: blue;    
            background-color: white;       
            text-decoration: underline; 
        }


